plugins {
  id 'nf-parquet@0.0.1-rc1'
}

parquet {
    schemas = {
        catalog {
            field "X" type "double" optional true
            field "Y" type "double" optional true
            field "Z" type "double" optional true
            field "X_noise" type "double" optional true
            field "Y_noise" type "double" optional true
            field "Z_noise" type "double" optional true
            field "R" type "double" optional true
            field "G" type "double" optional true
            field "B" type "double" optional true
            field "time" type "double" optional true
            field "eol" type "double" optional true
            field "label" type "double" optional true
        }
        schema "full"
        schema "onlyX" fields "X"
        schema "XAndY" fields "X", "Y"
        schema "XAndLabel" fields "X", "label"
    }
}