plugins {
  id 'nf-parquet@0.0.1-rc1'
}

parquet {
    schemas = [
            full : [
                    [
                            "name"   : "X",
                            "type"   : ["null", "double"],
                            "default": null
                    ], [
                            "name"   : "Y",
                            "type"   : ["null", "double"],
                            "default": null
                    ], [
                            "name"   : "Z",
                            "type"   : ["null", "double"],
                            "default": null
                    ], [
                            "name"   : "X_noise",
                            "type"   : ["null", "double"],
                            "default": null
                    ], [
                            "name"   : "Y_noise",
                            "type"   : ["null", "double"],
                            "default": null
                    ], [
                            "name"   : "Z_noise",
                            "type"   : ["null", "double"],
                            "default": null
                    ], [
                            "name"   : "R",
                            "type"   : ["null", "double"],
                            "default": null
                    ], [
                            "name"   : "G",
                            "type"   : ["null", "double"],
                            "default": null
                    ], [
                            "name"   : "B",
                            "type"   : ["null", "double"],
                            "default": null
                    ], [
                            "name"   : "time",
                            "type"   : ["null", "double"],
                            "default": null
                    ], [
                            "name"   : "eol",
                            "type"   : ["null", "double"],
                            "default": null
                    ], [
                            "name"   : "label",
                            "type"   : ["null", "double"],
                            "default": null
                    ]
            ],

            onlyX: [
                    [
                            "name"   : "X",
                            "type"   : ["null", "double"],
                            "default": null
                    ]
            ],

            XAndY: [
                    [
                            "name"   : "X",
                            "type"   : ["null", "double"],
                            "default": null
                    ],
                    [
                            "name"   : "Y",
                            "type"   : ["null", "double"],
                            "default": null
                    ]
            ],
    ]
}